<div class="footer-container">

  <div class="header">
    <div class="footer-logo">
      <img
        src="assets/ps-logo-mini.png"
        alt="Logo PlayStation" width="60" height="40">
    </div>

    <div class="regiao">
      <img src="assets/globe.png" alt="Bandeira do Brasil" width="40" height="30">
      <span>País/região: Brasil</span>
    </div>
  </div>

  <div class="menu">
    <div class="item-menu">
      <ul>
        <li><a href="#">Suporte</a></li>
        <li><a href="#">Política de Privacidade</a></li>
        <li><a href="#">Termos de uso do site</a></li>
        <li><a href="#">Mapa do site</a></li>
        <li><a href="#">PlayStation Studios</a></li>
        <li><a href="#">Legal</a></li>
        <li><a href="#">Sobre a SIE</a></li>
      </ul>
    </div>

    <div class="item-menu">
      <ul>
        <li><a href="#">Termos de serviço PSN</a></li>
        <li><a href="#">Política de cancelamento da PS Store</a></li>
        <li><a href="#">Avisos de saúde</a></li>
        <li><a href="#">Sobre as classificações</a></li>
      </ul>
    </div>

    <div class="item-menu">
      <ul>
        <li><a href="#">Facebbok</a></li>
        <li><a href="#">X</a></li>
        <li><a href="#">Youtube</a></li>
        <li><a href="#">Instagram</a></li>
        <li><a href="#">Aplicativo para Android</a></li>
        <li><a href="#">Aplicativo para iOS</a></li>
      </ul>
    </div>
  </div>

  <div class="copyright">
    © 2025 Sony Interactive Entertainment Inc. Todos os direitos reservados.
  </div>
</div>
