<div class="home__container">
  <app-card
    gameCover="assets/bt-1.jpg"
    gameLabel="DIGITAL"
    gameType="DIGITAL | PS4"
    gamePricing="R$ 129,99"
  ></app-card>

  <app-card
    gameCover="assets/bt-4.jpg"
    gameLabel="EXCLUSIVE"
    gameType="DISC | PS5"
    gamePricing="R$ 269,99"
  ></app-card>

  <app-card
    gameCover="assets/ac-cover.jpg"
    gameLabel="BEST OF YEAR"
    gameType="DIGITAL | PS5"
    gamePricing="R$ 369,99"
  ></app-card>

  <app-card
    gameCover="assets/bt-hardline.jpg"
    gameLabel="NEW"
    gameType="DIGITAL | PS3 | PS4 | PS5"
    gamePricing="R$ 369,99"
  ></app-card>

  <app-card
    gameCover="https://image.api.playstation.com/pr/bam-art/214/988/a768071e-1049-4d94-81c6-f3089f0d4eef.jpg?w=440&thumb=false"
    gameLabel="NEW"
    gameType="DIGITAL | PS3 | PS4 | PS5"
    gamePricing="R$ 369,99"
  ></app-card>

  <app-card
    gameCover="https://image.api.playstation.com/pr/bam-art/175/034/e1e3a5c9-f220-4154-9969-8d375efc6453.jpg?w=440&thumb=false"
    gameLabel="NEW"
    gameType="DIGITAL | PS3 | PS4 | PS5"
    gamePricing="R$ 369,99"
  ></app-card>

  <app-card
    gameCover="https://image.api.playstation.com/pr/bam-art/216/823/4acb28cc-560a-4a05-a81f-d8f409ac0267.jpg?w=440&thumb=false"
    gameLabel="NEW"
    gameType="DIGITAL | PS3 | PS4 | PS5"
    gamePricing="R$ 369,99"
  ></app-card>

  <app-card
    gameCover="https://image.api.playstation.com/pr/bam-art/209/727/33ef2835-86f5-431b-8544-f900310e1755.jpg?w=440&thumb=false"
    gameLabel="NEW"
    gameType="DIGITAL | PS3 | PS4 | PS5"
    gamePricing="R$ 369,99"
  ></app-card>

  <app-card
    gameCover="https://image.api.playstation.com/pr/bam-art/214/993/ee65a516-1a71-45df-94f1-ec4dd806213d.jpg?w=440&thumb=false"
    gameLabel="NEW"
    gameType="DIGITAL | PS3 | PS4 | PS5"
    gamePricing="R$ 369,99"
  ></app-card>

  <app-card
    gameCover="https://image.api.playstation.com/pr/bam-art/214/993/b367d981-6e76-4c29-a8f8-908039776382.jpg?w=440&thumb=false"
    gameLabel="NEW"
    gameType="DIGITAL | PS3 | PS4 | PS5"
    gamePricing="R$ 369,99"
  ></app-card>

  <app-card
    gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202505/0704/e81b1e0b80b2001d8a5070c5c465cbc7246e02d1da39fe76.png?w=440&thumb=false"
    gameLabel="NEW"
    gameType="DIGITAL | PS3 | PS4 | PS5"
    gamePricing="R$ 369,99"
  ></app-card>

  <app-card
    gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202507/2511/19ad6574090b6a71c88f0e6152ae5a668cc85882d87c51b5.png?w=440&thumb=false"
    gameLabel="NEW"
    gameType="DIGITAL | PS3 | PS4 | PS5"
    gamePricing="R$ 369,99"
  ></app-card>
</div>
